module-03/products.xml

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="products" type="productsType"/>
    <xs:complexType name="productsType">
        <xs:sequence>
            <xs:element name="product" type="productType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="productType">
        <xs:sequence>
            <xs:element name="productName" type="xs:string"/>
            
            <xs:element name="manufacturer" type="manufacturerType"/>
              <xs:complexType name="manufacturerType">
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                  <xs:attribute name="id" type="xs:string"/>
                </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            
            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="prices" type="pricesType"/>
              <xs:complexType name="pricesType">
                <xs:sequence>
                <xs:element name="price" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                </xs:complexType>
              <xs:element name="productItems" type="xs:string"/>
            </xs:sequence>
        <xs:attribute name="sku" type="xs:string"/>
        <xs:attribute name="createdAt" type="xs:dateTime"/>
        <xs:attribute name="shippable" type="xs:boolean"/>
    </xs:complexType>

    
</xs:schema>

<products>
  <product sku="BOS12DDF2" createdAt="2020-12-23T09:23:44" shippable="true">
    <productName>Dog Shirt Gift Basket</productName>
    <manufacturer id="sjb-pet">SJB Pet Boutique</manufacturer>
    <description>Something for every day of the week</description>
    <prices>
      <price>US$35.99</price>
      <price>CAD$44.99</price>
      <price>&#8364;26.79</price>
    </prices>
    <productItems>1200, 1201, 1202, 1203, 1204, 1205, 1206</productItems>
  </product>
  <product sku="OBOKS34KBKS" createdAt="2019-12-23T17:47:10" shippable="true">
    <productName>Car Curiosity Basket</productName>
    <manufacturer id="sjb-pet">SJB Pet Boutique</manufacturer>
    <description>Playtime morning, noon, and night</description>
    <prices>
      <price>US$15.99</price>
      <price>CAD$18.82</price>
      <price>&#8364;11.90</price>
    </prices>
    <productItems>4430, 6500, 4434</productItems>
  </product>
  <product sku="HVBOSPR292BS" createdAt="2021-04-03T16:15:37" shippable="false">
    <productName>Piggy Snuggle Basket</productName>
    <manufacturer id="acme">ACME</manufacturer>
    <prices>
      <price>US$17.50</price>
      <price>CAD$21.96</price>
      <price>&#8364;13.03</price>
    </prices>
    <productItems>3230, 3232</productItems>
  </product>
  <product sku="BJPSO1342KSLS" createdAt="2021-09-07T15:58:13" shippable="true"> 
    <productName>Dog Snuggle Basket</productName>
    <manufacturer id="acme">ACME</manufacturer>
    <prices>
      <price>US$14.25</price>
      <price>CAD$17.88</price>
      <price>&#8364;10.61</price>
    </prices>
    <productItems>3230, 3232, 3250</productItems>
  </product>
</products>