module-05/assignments/data_JSON.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data" type="bookType"/>

    <xs:complexType name="bookType">
        <xs:sequence>
            <xs:element name="data" type="bookType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="author" type="xs:string"/>
            <xs:element name="category" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="year" type="xs:string"/>
        <xs:attribute name="price" type="xs:positiveInteger"/>
    </xs:complexType>
</xs:schema>














