module-06/assignments/books.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="BooksCatalog">
        <xs:sequence>
            <xs:element name="bookgenre" type="xs:string" />
            <xs:element name="name" type="xs:string" />
            <xs:element name="Author" type="xs:string" />
            <xs:element name="Year" type="xs:date" />
            <xs:element name="RetailPrice" type="xs:int"/>
              
        </xs:sequence>
    </xs:complexType>
</xs:schema> 

                