project-1/pro1library.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element name="address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="street"/>
                    <xs:element type="xs:string" name="city"/>
                    <xs:element type="xs:string" name="region"/>
                    <xs:element type="xs:string" name="country"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="specialty"/>
              <xs:element name="catalog" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="isbn"/>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:string" name="availability"/>
                    <xs:element type="xs:short" name="year"/>
                    <xs:element type="xs:string" name="genre"/>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element type="xs:string" name="author"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>