project-topics/sft.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="company">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="JSON_ARRAY" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="stockSymbol"/>
              <xs:element type="xs:string" name="domain"/>
              <xs:element name="apps" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="currentVersion"/>
                    <xs:element type="xs:string" name="url"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="employees" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:string" name="firstName"/>
                    <xs:element type="xs:string" name="lastName"/>
                    <xs:element type="xs:string" name="email"/>
                    <xs:element type="xs:string" name="userName"/>
                    <xs:element type="xs:string" name="occupation"/>
                    <xs:element type="xs:string" name="department"/>
                    <xs:element name="device">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="ip"/>
                          <xs:element type="xs:string" name="mac"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>