XML Project/Retail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType"/>
  <xs:complexType name="addressType">
    <xs:sequence>
      <xs:element type="xs:string" name="city"/>
      <xs:element type="xs:string" name="country"/>
      <xs:element name="region" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Pennsylvania"/>
            <xs:enumeration value="Alberta"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="street"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elementType">
    <xs:sequence>
      <xs:element name="empType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="full-time"/>
            <xs:enumeration value="contractor"/>
            <xs:enumeration value="part-time"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="firstName" minOccurs="0"/>
      <xs:element type="xs:string" name="euroPrice" minOccurs="0"/>
      <xs:element type="addressType" name="address" minOccurs="0"/>
      <xs:element type="employeesType" name="employees" minOccurs="0"/>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="lastName" minOccurs="0"/>
      <xs:element type="xs:string" name="position" minOccurs="0"/>
      <xs:element type="xs:string" name="name" minOccurs="0"/>
      <xs:element type="xs:string" name="poundPrice" minOccurs="0"/>
      <xs:element type="xs:string" name="qty" minOccurs="0"/>
      <xs:element type="xs:string" name="usdPrice" minOccurs="0"/>
      <xs:element type="productsType" name="products" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="employeesType">
    <xs:sequence>
      <xs:element type="elementType" name="element" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productsType">
    <xs:sequence>
      <xs:element type="elementType" name="element" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element type="elementType" name="element" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>