Project/REtail.XSD

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="city"/>
                    <xs:element type="xs:string" name="country"/>
                    <xs:element type="xs:string" name="region" minOccurs="0"/>
                    <xs:element type="xs:string" name="street"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="employees">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="empType"/>
                          <xs:element type="xs:string" name="firstName"/>
                          <xs:element type="xs:string" name="id"/>
                          <xs:element type="xs:string" name="lastName"/>
                          <xs:element type="xs:string" name="position"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="id"/>
              <xs:element name="products">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="euroPrice"/>
                          <xs:element type="xs:string" name="id"/>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:string" name="poundPrice"/>
                          <xs:element type="xs:byte" name="qty"/>
                          <xs:element type="xs:string" name="usdPrice"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>