module-02/assignments/type.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<xs:schema xmlns:xs="https://www.w3.org/2001/XMLSchema">
    <xs:element name = "menuInfo" type = "menuInfotype">

    <xs:complexType name="menuInfotype">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="summary" type="xs:string"/>
            <xs:element name="effectiveDtae" type="xs:string"/>
            <xs:element name="manu" minOccurs = "0" maxOccurs = "unbounded" type="menuItemType"/>
            <xs:element>
        </xs:sequece>
    <xs:complexType>

    <xs:complextype name="menuType">
    <xs:complexType>
    </xs:element>
</xs:schema>