module-03/assignments/activity-2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="products">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="product" minOccurs="0" maxOccurs="unbounded" />
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="productName" type="xs:string"/>
                    <xs:element name="manufacturer">
                        <xs:complexType>
                            <xs:simpleContent>
                            <xs:extension base="xs:string" >
                                <xs:attribute name="id" type="xs:string" required/>
                            </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="prices" />
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="price" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    <xs:element name="productItems" type="xs:string" />
                </xs:sequence>
                <xs:attribute name="slu" xs:type="string" />
                <xs:attribute name="createdAt" xs:type="datetime" />
                <xs:attribute name="shippable" xs:type="boolean" />
            </xs:complexType>
      </xs:sequence>
    </xs:complexType>
  </xs:element>		 
</xs:schema>