module-03/assignments/activity-2.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="products">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="productType" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    <xs:element>

    <xs:complexType name="productType">
        <xs:sequence>
        <xs:element name="productName" type="xs:string" />
        <xs:element name="manufacturer" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="prices" type="xs:string" />
        <xs:element name="productItems" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="sku" type="xs:string"/>
        <xs:attribute name="createdAt" type="xs:string"/>
        <xs:attribute name="shippable" type="xs:string"/>
    </xs:complexType>    






</xs:schema>