module-03/assignments/activity-2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="products">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="product" type="ProductType" minOccurs="0" maxOccurs="unbounded"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element name="productName" type="xs:string"></xs:element>
      <xs:element name="manufacturer">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="id" type="xs:string"></xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="prices">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="price" type="xs:string" minOccurs="1" maxOccurs="unbounded"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="productItems" type="xs:string"></xs:element>
    </xs:sequence>
    <xs:attribute name="sku" type="xs:string"></xs:attribute>
    <xs:attribute name="createdAt" type="xs:dateTime"></xs:attribute>
    <xs:attribute name="shippable" type="xs:boolean"></xs:attribute>
  </xs:complexType>
</xs:schema>