module-03/assignments/assignment.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="product" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="catalog_item" type="CatalogItem" minOccurs="1" maxOccurs="unbounded">
              </xs:element>
            </xs:sequence>
            <xs:attribute name="product_id" type="xs:ID" ></xs:attribute>
            <xs:attribute name="description" type="xs:string"></xs:attribute>
            <xs:attribute name="product_image" type="xs:string"></xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CatalogItem">
    <xs:sequence>
      <xs:element name="item_number" type="xs:ID"></xs:element>
      <xs:element name="price" type="xs:decimal" ></xs:element>
      <xs:element name="size" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="color_swatch" minOccurs="1" maxOccurs="unbounded">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="image" type="xs:string"></xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="description" type="xs:string"></xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="gender" type="xs:string"></xs:attribute>
  </xs:complexType>
</xs:schema>