module-03/assignments/assignment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog" type="catalogType"/>
  <xs:complexType name="catalogType">
    <xs:sequence>
      <xs:element name="product" type="productType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productType">
    <xs:sequence>
      <xs:element name="catalog_item" type="catalog_itemType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="product_id" type="xs:ID" use="required"/>
    <xs:attribute name="description" type="xs:string" use="required"/>
    <xs:attribute name="product_image" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="catalog_itemType">
        <xs:sequence>
            <xs:element name="item_number" type="xs:string"/>
            <xs:element name="price" type="xs:decimal"/>
            <xs:element name="size" type="sizeType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="gender" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Men" />
                    <xs:enumeration value="Women" />
                </xs:restriction>
            </xs:simpleType>
         </xs:attribute>   
  </xs:complexType>
  <xs:complexType name="sizeType">
    <xs:sequence>
      <xs:element name="color_swatch" type="color_swatchType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="description" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="color_swatchType">
    <xs:simpleContent>
        <xs:extension base="xs:string">
            <xs:attribute name="image" type="xs:string" use="required"/>
        </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>