module-03/assignments/assignment.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalog">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="ProductType" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="ProductType">
        <xs:sequence>
            <xs:element name="catalog_item" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="item_number" type="xs:string"></xs:element>
                        <xs:element name="price" type="xs:decimal"></xs:element>
                        <xs:element name="size" minOccurs="1" maxOccurs="5">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="color_swatch" minOccurs="1" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                    <xs:attribute name="image" type="xs:string" use="required"></xs:attribute>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="description" type="xs:string" use="required"></xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="gender" type="xs:string" use="required"></xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="product_id" type="xs:ID" use="required"></xs:attribute>
        <xs:attribute name="description" type="xs:string" use="required"></xs:attribute>
        <xs:attribute name="product_image" type="xs:string" use="required"></xs:attribute>
    </xs:complexType>
</xs:schema>