module-03/assignments/assignment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="catalog">
 <xs:element name="product">
 <xs:complexType>
    <xs:sequence>
        <xs:element name="catalog" type="catalogType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
 </xs:complexType>

    <xs:complexType name="catalogType">
        <xs:sequence>
            <xs:element name="item_number" type="xs:string" />
            <xs:element name="price" type="xs:decimal" />
            <xs:complexType>
                <xs:sequence>
                    <xs:complexType name="size" type="sizeType" minOccurs="2" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
        </xs:sequence>
        <xs:attribute name="gender" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="sizeType">
        <xs:sequence>
            <xs:element name="color_swatch" type="xs:string" minOccurs="2" maxOccurs="unbounded" />
            <xs:attribute name="description" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="description" type="xs:string" />
    </xs:complexType>

 </xs:element>
    <xs:attribute name="product_id" type="xs:string" />
    <xs:attribute name="description" type="xs:string" />
    <xs:attribute name="product_image" type="xs:string" />
 </xs:element>
</xs:schema>