module-03/assignments/assignment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="catalog" type="catalogType"/>

<xs:complexType name="catalogType">
    <xs:sequence>
    <xs:element name="product" type="ProductType"/>
    </xs:sequence>
</xs:complexType>
   
  <xs:complexType name="ProductType">
    <xs:sequence>
    <xs:element name="catalog_item" type="catalogItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="product_id" type="xs:string"/>
    <xs:attribute name="description" type="xs:string"/>
    <xs:attribute name="product_image" type="xs:string"/>
  </xs:complexType>	

  <xs:complexType name="catalogItemType">
    <xs:sequence>
      <xs:element name="item_number" type="xs:string"/>
      <xs:element name="price" type="xs:string"/>
      <xs:element name="size" type="SizeType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="gender" type="xs:string"/>
  </xs:complexType>	

  <xs:complexType name="SizeType">
    <xs:sequence>
      <xs:element name="color_swatch" type="colorswatchType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="description" type="xs:string"/>
  </xs:complexType>	

   <xs:complexType name="colorswatchType">
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="image" type="xs:string"/>
              </xs:extension>
            </xs:simpleContent>
  </xs:complexType>	
</xs:schema>