module-03/assignments/assignment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name = "catalog" type = "catalogType"/>

    <xs:complexType name="catalogType">
        <xs:sequence>
            <xs:element name="product" type = "productType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="productType">
        <xs:sequence>
            <xs:element name = "catalog_item" type = "clog_item_type" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name = "product_id" type="xs:string"/>
        <xs:attribute name = "description" type="xs:string"/>
        <xs:attribute name = "product_image" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="clog_item_type">
        <xs:sequence>
            <xs:element name = "item_number" type = "xs:string"/>
            <xs:element name = "price" type = "xs:string"/>
            <xs:element name = "size" type = "sizeType" minOccurs="1" maxOccurs="unbounded"/>
            
        </xs:sequence>
        <xs:attribute name="gender" type="xs:string"/>
    </xs:complexType>

    

    <xs:complexType name = "sizeType">
        <xs:sequence>
            <xs:element name = "color_swatch" type = "cswatch_type" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name = "description" type = "xs:string"/>
    </xs:complexType>

    
    <xs:complexType name="cswatch_type">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name = "image" type = "xs:string"></xs:attribute>
            </xs:extension>
          </xs:simpleContent>
       
    </xs:complexType>

</xs:schema>