module-03/assignments/assignment.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="catalog" type="catalogType"/>

    <xs:complexType name="catalogType">
        <xs:sequence>
            <xs:element name="product" type="productType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="productType">
        <xs:sequence>
            <xs:element name="catalog_item" type="catalogItemType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="product_id" type="xs:string"/>
        <xs:attribute name="description" type="xs:string"/>
        <xs:attribute name="product_image" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="catalogItemType">
        <xs:sequence>
            <xs:element name="item_number"/>
            <xs:element name="price"/>
            <xs:element name="size" type="sizeType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="gender" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="sizeType">
        <xs:sequence>
            <xs:element name="color_swatch" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="image" type="xs:string"/>
                    </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="description" type="xs:string"/>
    </xs:complexType>
</xs:schema>